//-----------Legend------------//
//----Libraries----//

//----Layout----//
//----Navigation----//
 //----Nav_SwitchBtn----//
 //----Section_INFRASTRUCTURE----//
 //----Section_OurJob----//
 //----Section_STATS----//
 //----Section_OPINIONS----//
 //----SECTION_CAPABILITIES----//
 //----SECTION_CONTRACT----//


//----Libraries----//
@use "mixins/media.scss" as m;
@use "mixins/button.scss"as b;

//----Variables----//
$white:#FFFFFF;
$black:#000000;
$charcoal:#575756;
$red:#E73137;
$blue:#59A6C0;
$teal:#3EA397;
$silver:#CFCDCC;
$silver2:#F1F0F0;
$lightblue:rgba(#3EA397,30%);
$brick:#E66559;

//----Layout----//

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior:smooth;
}
:focus-visible{
    outline:2px solid;
    outline-offset:5px;
}
a{
    text-decoration: none;
    display:block;
}
.container{
    width:72.29%;
    margin:0 auto;
    @include m.breakpoint(tablet){
        width:93.89%;
    }
    @include m.breakpoint(mobile){
        width:93.89%;
    }
}
.button{
   @include b.button;
   
   @include m.breakpoint(mobile){
    width:100%;
    justify-content:center;
}
.arrow{
    font-size:2.4rem;
    margin-left:0.2rem;
    width:2.4rem;
    line-height:24px;
    font-weight:400;
}
&.red{
   @include b.button;
    background-color:$red;
    color:$white;
    border: solid $red;
    &:hover,
    &:focus-visible{
        opacity:0.75;
    }
}
&.white{
    @include b.button;
    background-color:$white;
    color:$red;
    border: solid $red;
    &:hover,
    &:focus-visible{
        opacity:0.75;
    }
}
}
.bar-horizontal{
    width:11rem;
    height:1rem;
    border-radius:30px;
    margin-bottom:3rem;
    @include m.breakpoint(tablet){
        margin-bottom:2rem;
    }
}

//----Navigation----//

.nav{
    width:100%;
    background-color:$white;
    border-bottom:1px solid $silver;
    &__content{
        position:relative;
        display:flex;
        justify-content: space-between;
        align-items:center;
        margin:1.25rem auto;
        :is(a):hover{
            font-weight:700;
        }
        @include m.breakpoint(tablet){
            flex-direction: column;
            align-items:flex-start;
            gap:2rem;
            :is(a):hover{
                background-color:$silver;
            }
        }
        @include m.breakpoint(mobile){
            flex-direction: column;
            align-items:flex-start;
            gap:2rem;
            :is(a):hover{
                background-color:$silver;
            }
        }
    .nav__logo{
    display:inline-block;
    max-width:25rem;
    max-height:7.5rem;
    margin-right:4rem;
    @include m.breakpoint(tablet){
        max-height:6rem;
    }
    @include m.breakpoint(mobile){
        max-height:4.8rem;
    }
    }

    //--Primary_Navigation--//

    .nav__primary{
        display:flex;
        gap:2rem;
        font-size:1.6rem;
        min-width:5.47rem;
        background-color: $white;
        flex-direction: row;
        line-height:20px;   
        @include m.breakpoint(tablet){
            display:none;
            flex-direction: column;
            justify-content:flex-start;
            width:100%; 
            gap:0rem;    
            font-weight:bold; 
        }
        @include m.breakpoint(mobile){
            display:none;
            flex-direction: column;
            justify-content:flex-start;
            width:100%;
            gap:0rem;
            font-weight:bold;

        }&.active{
            display:flex;
            height:100vh;
        }

      .nav__list-Item{
          background-color: $white;
          @include m.breakpoint(tablet){
            padding:2rem 0;
          }
          @include m.breakpoint(mobile){
            padding:2rem 0;
          }
        &::marker{
            content:"";
            display:none;
        }
        @include m.breakpoint(tablet){
        &::after{
            position: absolute;
            content:"";
            width:100%;
            height:2px;
            background-color:$silver;
            top:0;
        }
      }
      @include m.breakpoint(mobile){
        &::after{
            position: absolute;
            content:"";
            width:100%;
            height:2px;
            background-color:$silver;
            top:0;
        }
      }
      }
      .nav__list-Item--1::after{
        @include m.breakpoint(tablet){
          content:"";
          display:none;
        }
        @include m.breakpoint(mobile){
            content:"";
            display:none;
        }
    }
      .nav__Link{
          color:$black;
          cursor:pointer;
      }
    }

    //----Nav_SwitchBtn----//

    .nav__toggleBtn{
        position:absolute;
        display:block;
        width:3rem;
        background-color:$white;
        right:0;
        display:none;
        gap:1rem;
        cursor:pointer;
        border:none;
        @include m.breakpoint(tablet){
            top:1.8rem;
            display:flex;
            flex-direction: column;
        }
        @include m.breakpoint(mobile){
            top:1.2rem;
            display:flex;
            flex-direction: column;
        }
        &.close{
            top:3rem;
            @include m.breakpoint(mobile){
                top:2.7rem;
            }
            .nav__line--middle{
            display:none;
            }
            .nav__line--top{
                position:absolute;
                transform:rotate(45deg);
              
            }
            .nav__line--bottom{
                position:absolute;
                transform:rotate(-45deg);
            }
        }
        .nav__line{
            position:relative;
            width:100%;
            background-color:$black;
            height:3px;
            border-radius:10px;
        }
    }  
}
  #nav__second1{
    right:-4rem;
    @include m.breakpoint(tablet){
        right:auto;
    }
    @include m.breakpoint(mobile){
        right:auto;
    }
  }
  #nav__second2{
      right:-5rem;
      @include m.breakpoint(tablet){
        right:auto;
    }
    @include m.breakpoint(mobile){
        right:auto;
    }
  }
  .nav__secondaryNav{
    display:flex;
    @include m.breakpoint(tablet){
        width:100%;
        justify-content:space-between;
    }
    @include m.breakpoint(mobile){
         width:100%;
        justify-content:space-between;
    }
  .toggle2{
      height:2rem;
      width:2rem;
      text-align:center;
      background-color:transparent;
      border:none;
      cursor:pointer;
      color:$brick;
  }
}
.nav__secondary{
    position:absolute;
    background-color:$silver2;
    display:none;
    flex-direction:column;
    text-align:center;
    width:19rem;
    margin-top:2rem;
    gap:1rem;
    padding:1rem 1.2rem;
    border-radius:3px;
    z-index:100;
    @include m.breakpoint(tablet){
        position:relative;
        text-align:left;
        gap:1.8rem;
        background-color:transparent;
        width:100%;
    }
    @include m.breakpoint(mobile){
        position:relative;
        text-align:left;
        gap:1.8rem;
        background-color:transparent;
        width:100%;
    }
    &::before{
        content:"";
        position:absolute;
        clip-path:polygon(0 100%, 50% 0, 100% 100%);
        height:1rem;
        width:1.4rem;
        top:-1rem;
        left:0;
        right:0;
        margin:0 auto;
        background-color:$silver2;
        @supports not(clip-path:polygon(0 100%, 50% 0, 100% 100%)){
            display:none;
        }
        @include m.breakpoint(tablet){
            display:none;
        }
        @include m.breakpoint(mobile){
            display:none;
        }
    }
    .nav__secondaryElement{
        font-size:1.4rem;
        line-height:17.5px;
        font-weight:500;
        color:$charcoal;
    }
    .nav__list-item2{
        list-style:none;
        &:hover{
            background-color:$white;
            @include m.breakpoint(tablet){
                background-color:$silver2;
            }
            @include m.breakpoint(mobile){
                background-color:$silver2;
            }
        }
    }
 }
}
.fixed{
position:fixed;
height:100vh;
z-index:9999;
overflow-y:auto;
}
.no-scroll{
    overflow:hidden;
}

//----Section_INFRASTRUCTURE----//

.infrastructure{
    &__container{
        display:flex;
        @include m.breakpoint(tablet){
            flex-direction:column;
        }
        @include m.breakpoint(mobile){
            flex-direction:column;
        }
        .infrastructure__bar{
        background-color:$blue;
        }
        .infrastructure__img{
            width:50%;
            max-height:83rem;
            height:auto;
            object-fit:cover; 
            @include m.breakpoint(tablet){
                width:100%;
                max-height:40rem;
            }
            @include m.breakpoint(mobile){
                width:100%;
                max-height:30rem;
            }  
        }
        .infrastructure__text-wrap{
            margin:auto 0rem;
            padding:4rem 0;
            padding-left:4rem;
            width:50%;
            @include m.breakpoint(tablet){
                width:100%;
                margin-top:4rem;
                margin-bottom:4rem;
                padding-left:2rem;
            }
            @include m.breakpoint(mobile){
                width:100%;
                margin-top:4rem;
                margin-bottom:4rem;
                padding-left:2rem;
                padding-right:2rem;
            }  
            .infrastructure__h1{
                color:$black;
                font-size:5.6rem;
                max-width:56rem;
                line-height:70px;
                font-weight:400;
                margin-bottom:3rem;
                @include m.breakpoint(tablet){
                    max-width:100%;
                    line-height:62.5px;
                    font-size:5rem;
                }
                @include m.breakpoint(mobile){
                    font-size:3.6rem;
                    line-height:45px;
                }  
            }
            .infrastructure__text{
                color:$charcoal;
                font-size:2.4rem;
                line-height:40px;
                margin-bottom:1.5em;
                @include m.breakpoint(tablet){
                    font-size:2rem;
                }
                @include m.breakpoint(mobile){
                    font-size:1.8rem;
                }  
            }
        }
    }
}

//----Section_OurJob----//

 .ourJob{
     &__container{
         display:flex;
         background-color:$blue;
         width:100%;
         @include m.breakpoint(tablet){
             flex-direction:column;
         }
         @include m.breakpoint(mobile){
            flex-direction:column;
        }
         .ourJob__text-wrap{
             flex-basis:50%;
             margin:auto 0rem;
             padding-left:13.86%;
             padding-right:4rem;
             color:$white;
             @include m.breakpoint(tablet){
                margin-top:4rem;
                padding-left:2rem;
                padding-bottom:4rem;
            }
            @include m.breakpoint(mobile){
                margin-top:4rem;
                padding-left:2rem;
                padding-right:2rem;
                padding-bottom:4rem;
            }
             .ourJob__bar{
                 background-color:$white;
             }
             .ourJob__h2{
                 font-size:4.6rem;
                 font-weight:400;
                 line-height:57.5px;
                 @include m.breakpoint(tablet){
                    font-size:4rem;
                 }
             }
             .ourJob__text{
                 font-size:1.8rem;
                 line-height:28px;
                 width:100%;
                 @include m.breakpoint(tablet){
                    width:100%;
                 }
             }
             .ourJob__text--1{
                 margin-bottom:1.4rem;
             }
             .ourJob__text--2{
                 margin-bottom:3rem;
             }
         }
         .ourJob__proEnergy-container {
             background-color:$white;
             flex-basis:50%;
             .ourJob__img{
                 max-height:43rem;
                 width:100%;
                 object-fit:cover; 
                 @include m.breakpoint(tablet){
                    max-height:39.8rem;
                 }
                 @include m.breakpoint(mobile){
                    max-height:19.4rem;
                 }
             }
             .ourJob__dl{
                 display:grid;
                 grid-template-columns:1fr 2fr;
                 row-gap:4rem;
                 column-gap:0;
                 font-size:2.6rem;
                 line-height:32.5px;
                 margin-left:4rem;
                 margin-top:7rem;
                 margin-bottom:7rem;
                @include m.breakpoint(tablet){
                    grid-template-columns:1fr 1fr;
                    row-gap:3.1rem;
                    font-size:2.2rem;
                    line-height:27.5px;
                    margin-top:6rem;
                    margin-left:2rem;
                    margin-bottom:4.1rem;
                }
                @include m.breakpoint(mobile){
                    grid-template-columns:1fr;
                    row-gap:2.7rem;
                    font-size:2rem;
                    line-height:20px;
                    margin-top:4rem;
                    margin-bottom:4.7rem;
                    margin-left:2rem;
                }
                
                .ourJob__listingWrapper{
                    position:relative;
                    max-width:26rem;
                    &::before{
                        position:absolute;
                        content:"";
                        display:inline-block;
                        width:10px;
                        height:60px;
                        background-color:$brick;
                        border-radius:30px;
                    }
               .ourJob__listing{
                   font-weight:700;
                   margin-left:2rem;

             }
             .ourJob__description{
                 color:$charcoal;
                 font-weight:500;
                 margin-top:1rem;
                 margin-left:2rem;
             }
            }
            .ourJob__listingWrapper--1{
                &::before{
                    background-color:$red;
                }
             }
             .ourJob__listingWrapper--2{
                &::before{
                    background-color:$black;
                }
             }
             .ourJob__listingWrapper--3{
                &::before{
                   background-color:$blue;
                }
            }
            .ourJob__listingWrapper--4{
                &::before{
                   background-color:$teal;
                }
            }
            .ourJob__listingWrapper--5{
                &::before{
                   background-color:$silver;
                }
            }
          }
         }     
     }
 }

//----Section_STATS----//

.stats{
    height:auto;
    width:100%;
    text-align:center;
    &__container{
        background-color:rgba(#3EA397,30%);
        padding:7rem 0;
        @include m.breakpoint(tablet){
            padding:4rem 0;
            }
        @include m.breakpoint(mobile){
        padding:4rem 0;
        }
        .stats__bar{
            margin:0 auto;
            background-color:$charcoal;
        }
        .stats__h2{
            margin-top:3rem;
            font-size:4.6rem;
            font-weight:400;
            line-height:57.5px;
            @include m.breakpoint(tablet){
                margin-top:2rem;
                font-size:4rem;
                line-height:50px;
            }
            @include m.breakpoint(mobile){
                margin-top:2rem;
                font-size:3rem;
                line-height:37.5px
            }
        }
        .stats__text-wrap{
            display:flex;
            padding:5rem 0 5rem 0;
            margin-top:3rem;
            justify-content:center;
            @include m.breakpoint(mobile){
                padding:0;
                margin-top:2rem;
                margin-bottom:2rem;
                flex-direction:column;
                gap:3rem;
            }
            .stats__stat-text{
                width:100%;
                @include m.breakpoint(mobile){
                    text-align:center;
               
                }
              .stats__description{
                  color:$black;
                  font-size:2rem;
                  line-height:28px;
                  margin:0 auto;
                  letter-spacing: 0.04em;
                  @include m.breakpoint(tablet){
                      font-size:1.8rem;
                      line-height:24px;
                      @include m.breakpoint(mobile){
                          font-size:1.8rem;
                          line-height:22px;
                          letter-spacing:0.4em;
                      }
                  }
              }  
              .stats__description--bottom{
                max-width:14.2rem;
                @include m.breakpoint(mobile){
                    max-width:100%;
                }
              }
              .stats__number{
                  font-weight:400;
                  font-size:10rem;
                  line-height:100px;
                  color:$black;
                  @include m.breakpoint(tablet){
                    font-size:7rem;
                    line-height:70px;
                  }
                  @include m.breakpoint(mobile){
                    font-size:6rem;
                    line-height:60px;
                    margin-top:0.5rem;
                    margin-bottom:0.5rem;
                  }
              }
             :is(.stats__number--1,.stats__number--2)::after{
                 content:"%";              
                 font-size:6rem;
                 line-height:70px;
                 bottom:0;
                 right:-2.5rem;
                 @include m.breakpoint(tablet){
                    font-size:4rem;
                    line-height:50px;
                  }
                  @include m.breakpoint(mobile){
                    font-size:4rem;
                    line-height:45px;
                  }
             }
            }
        }
        .stats__text-bottom{
            max-width:44rem;
            margin:0 auto;
            @include m.breakpoint(mobile){
                max-width:100%;
            }
            .stats__text{
                font-size:1.8rem;
                margin-bottom:3rem;
                line-height:28px;
                color:$charcoal;
                @include m.breakpoint(mobile){
                    font-size:1.6rem;
                    line-height:26px;
                }
            }
        }
        .stats__btn{
            margin:0 auto;
        }
    }
}

//----Section_OPINIONS----//

.opinions{
    background-color:$brick;
    padding:7rem 0;
    @include m.breakpoint(tablet){
        padding:4rem 0;
    }
    @include m.breakpoint(mobile){
        padding:4rem 0;
    }
    &__container{
        display:flex;
        align-items:center;
       justify-content: space-between;
       gap:4rem;
       @include m.breakpoint(tablet){
           flex-direction:column;
       }
       @include m.breakpoint(mobile){
        flex-direction:column;
    }
        .opinions__text-wrap{
            width:50%;   
            @include m.breakpoint(tablet){
                width:100%;
                margin-bottom:4rem;
            }
            @include m.breakpoint(mobile){
                width:100%;
                margin-bottom:4rem;
         }
            .opinions__bar{
                background-color:$silver;
            }
            .opinions__h2{
                color:$white;
                font-size:4.6rem;
                line-height:57.5px;
                font-weight:400;
                margin-bottom:3rem;
                @include m.breakpoint(tablet){
                    font-size:4rem;
                    line-height:50px;
                }
                @include m.breakpoint(mobile){
                    font-size:3rem;
                    line-height:37.5px;
                }
            }
            .opinions__text{
                color:$white;
                max-width:56rem;
                font-size:1.8rem;
                line-height:28px;
                margin-bottom:3rem;
                @include m.breakpoint(tablet){
                    max-width:100%;
                }
                @include m.breakpoint(mobile){
                    font-size:1.6rem;
                    line-height:26px;
                    max-width:100%;
                }
            }
        }
        .opinions__nonscrollable-container{
            width:50%;
            @include m.breakpoint(tablet){
                width:100%;
            }
            @include m.breakpoint(mobile){
                width:100%;
         }
      
        .opinions__comments-container{
            background-color:$white;
            display:flex;
            width:auto;
            height:100%;
            flex-direction:column;
            box-shadow:0px 5px 25px rgba(0, 0, 0, 0.35);
            -webkit-box-shadow:0px 5px 25px rgba(0, 0, 0, 0.35);  
     
         .opinions__slider{
             position:relative;
             display:flex;
             height:100%;
             flex-direction:row;
            //  scroll-snap-type: x mandatory;
            //  -ms-scroll-snap-type: x mandatory;
             
            //  scroll-behavior: smooth;
            //  &::-webkit-scrollbar {
            //      position:absolute;
            //     display: none;
            //     -ms-overflow-style: none;
            //     scrollbar-width: none;
            //   }
              .opinions__slide{ 
                position:relative;
                display:none;
                padding:0 3.1rem 0 3rem;
             }
             .active-slide{
                display:flex;
                width:100%;
                height:100%;
            }
            
         }
        
         
        //----Opinions----//

         .opinions__secondary-container{
            margin-top:3rem; 
         .opinions__quoted-text{
             display:flex;
             flex-direction:row;
             gap:0.4rem;
             width:100%;
            .opinions__quoteOpen{
                position:relative;
                background-color:$blue;
                border-radius:50%;
                width:3.786rem;
                aspect-ratio:1;
                @include m.breakpoint(tablet){
                    width:3.738rem;
                }
                @include m.breakpoint(mobile){
                    width:3rem;
                }
                &::before{
                    content:"";
                    position: absolute;
                    @supports(clip-path:polygon(50% 0%,50% 50%,0 50%)){
                        clip-path:polygon(50% 0%,50% 50%,0 50%);
                        background-color:$blue;
                        height:4.935rem;
                        width:3.786rem;
                        top:-1.149rem;
                        @include m.breakpoint(tablet){
                            width:3.738rem;
                        }
                        @include m.breakpoint(mobile){
                            height:4rem;
                            top:-1rem;
                            width:3rem;
                        }
                    }
                }
            }
            
            .opinions__quoteClose{
                position:relative;
                background-color:$blue;
                border-radius:50%;
                width:3.738rem;
                height:3.738rem;
                @include m.breakpoint(tablet){
                    width:3.786rem;
                }
                @include m.breakpoint(mobile){
                    width:3rem;
                    height:3rem;
                }
                &::after{
                    content:"";
                    position:absolute;
                    @supports (clip-path:polygon(50% 50%, 100% 50%, 50% 100%)){
                        clip-path:polygon(50% 50%, 100% 50%, 50% 100%);
                        background-color:$blue;
                        height:4.935rem;
                        width:3.786rem;
                        @include m.breakpoint(tablet){
                            width:3.786rem;
                        }
                        @include m.breakpoint(mobile){
                            width:3rem;
                            height:4rem;
                        }
                    }
                }
            }
        }
        .opinions__comments{
            position:relative;
            color:$charcoal;
            font-size:2.8rem;
            line-height:42px;   
            width:100%;
            margin-bottom:1.5rem;
            margin-top:1.5rem;
            @include m.breakpoint(tablet){
                font-size:2.6rem;
                line-height:40px;
            }
            @include m.breakpoint(mobile){
                font-size:2rem;
                line-height:30px;
            }
            }
            .opinions__quoted-text--bottom{
                justify-content:right;
            }
    }
    .opinions__tertiary-container{
        display:flex;
        gap:2rem;
        padding-top:2rem;
        .opinions__profileImg{
            width:8.7rem;
            height:8.7rem;
            border-radius:50%;
        }
        .opinions__proffesion{
            margin:auto 0;
            width:100%;
            color:$black;
            font-weight:400;
            font-size:1.6rem;
            line-height:27.07px;
            @include m.breakpoint(mobile){
                line-height:20px;
                letter-spacing: 0.02em;
            }
        }
        .opinions__name{
            font-weight:500;
        }
    }
    .opinions__sliderBtn-wrap{
        height:8rem;
        padding-top:2rem;
        margin-bottom:3rem;
             .opinions__btn-wrap{
                   display:flex;
                   align-items:center;
                   justify-content:center;
                   gap:1.3rem;
                   @include m.breakpoint(tablet){
                    margin-left:3rem;
                    gap:1.3rem;
                    align-items:center;
                    justify-content:left;

                   }
                   @include m.breakpoint(mobile){
                    text-align:left;
                    margin-left:3rem;
                    justify-content:center;
                    gap:2.4rem;
                   }
                .opinions__btn{
                    width:6rem;
                    aspect-ratio:1;
                    background-color:$white;
                    border:none;
                    opacity:1;
                    cursor: pointer;
                    
                    @include m.breakpoint(mobile){
                        width:4rem;
                        font-size:4rem;
                    }
                    .opinions__icon{
                        color:$teal;
                        font-size:6rem;
                        @include m.breakpoint(mobile){
                            font-size:4rem;
                        }
                    }
                }
                .disabled{
                    opacity:0.5;
                    pointer-events:none;
                }
                .opinions__dots{
                    display:flex;
                    align-items:center;
                    gap:1.5rem;
                }
                    .opinions__radio{
                        color:$red;
                        background-color: $red;
                        width:1.3rem;
                        height:1.3rem;
                        opacity:0.5;
                        border-radius:50%;
                        border:none;
                        transition:all 300ms ease-out;
                    }
                  .active-dot{
                    opacity:1;
                    width:1.9rem;
                    height:1.9rem;
                }
                }
          }
        }
      }
   }
}
//----SECTION_CAPABILITIES----//
.capabilities{
    padding-top:7rem;
    background-color:$white;
    @include m.breakpoint(tablet){
        padding-top:4rem;
    }
    @include m.breakpoint(mobile){
        padding-top:4rem;
    }
    &__container{
        text-align:center;
        .capabilities__bar{
            background-color:$charcoal;
            margin:0 auto;
        }
        .capabilities__h2{
            margin-top:3rem;
            font-size:4.6rem;
            line-height:57.5px;
            font-weight:400;
            @include m.breakpoint(tablet){
                margin-top:2rem;
                font-size:4rem;
                line-height:50px;
            }
            @include m.breakpoint(mobile){
                margin-top:2rem;
                font-size:3rem;
                line-height:37.5px;
            }
        }
        .capabilities__secondary-container{
            max-width:70rem;
            display:flex;
            margin:0 auto;
            margin-top:3rem;
            margin-bottom:7rem;
            flex-direction:column;
            text-align:left;
            @include m.breakpoint(tablet){
                margin-top:2rem;
                max-width:100%;
                margin-bottom:4rem;
            }
            @include m.breakpoint(mobile){
                margin-top:2rem;
                margin-bottom:4rem;
                max-width:100%;
            }
            .capabilities__collapse{
                display:flex;
                background-color:$white;
                font-weight:500;
                font-size:2rem;
                line-height:32px;
                align-items: center;
                justify-content:space-between;
                padding:1rem 2rem 1.2rem 2rem;
                border:1px solid $silver;
                border-left:none;
                border-right:none;
                cursor:pointer;
                @include m.breakpoint(mobile){
                    font-size:1.8rem;
                    line-height:32px;
                }
            }
            .capabilities__content{
                   flex-direction:column;
                   color:$charcoal;
                   background-color:$silver2;
                   padding:2rem; 
                   font-size:1.6rem;
                   letter-spacing:0.02em;
                   gap:1rem;
                   display: none;
                   overflow: hidden;
            }
        }
    }
}
//----SECTION_CONTRACT----//
.contact{
    background-color:$silver2;
    &__container{
        padding-top:7rem;
        padding-bottom:7rem;
        .contact__bar{
            background-color:$blue;
            margin:0 auto;
        }
        .contact__h2{
            font-weight:400;
            font-size:4.6rem;
            line-height:57.5px;
            margin-top:3rem;
            text-align:center;
            color:$black;
            @include m.breakpoint(tablet){
                font-size:4rem;
                line-height:50px;
            }
            @include m.breakpoint(mobile){
                font-size:3rem;
                line-height:37.5px;
            }
        }
        .contact__secondary-container{
            display:grid;
            column-gap:4rem;
            margin-top:3rem;
            row-gap:2rem;
            width:100%;
            grid-template-areas:"a b"
                                "c d"
                                "e e";
           @include m.breakpoint(tablet){
               column-gap:2rem;
        }
        @include m.breakpoint(mobile){
            grid-template-areas:"a"
                                "b"
                                "c"
                                "d"
                                "e";
        }
        .contact__input-containers{
            display:flex;
            flex-direction:column;
            .contact__label{
                font-weight:400;
                color:$black;
                font-size:1.6rem;
                line-height:20px;
                margin-bottom:0.5rem;
                letter-spacing:0.05em;
            }
            .contact__input{
                border-radius:10px;
                border: 1px solid $charcoal;
                padding:1.5rem 2rem;
            }
            .textarea{
                height:15rem;
                width:100%;
                resize: none;
            }
        }
        .contact__input-containers--name{
            grid-area:a;
        }
        .contact__input-containers--surname{
            grid-area:b;
        }
        .contact__input-containers--email{
            grid-area:c;
        }
        .contact__input-containers--subject{
            grid-area:d;
        }
        .contact__input-containers--comment{
            grid-area:e;
        }
        }
        .contact__tertiary-container{
            display:flex;
            margin-top:2rem;
            justify-content:space-between;
            @include m.breakpoint(mobile){
                flex-direction:column;
                gap:2rem;
            }
            .contact__labelBottom{
                font-weight:400;
                color:$charcoal;
                font-size:1.6rem;
                line-height:20px;
                margin-bottom:0.5rem;
            }
        }
         #name:valid,
         #surname:valid
        {
            text-transform:capitalize;
        }
    }
}
.footer{
    &__container{
        .footer__secondary-container{
            padding:1.5rem 0;
            display:flex;
            justify-content:space-between;
            align-items:center;
            @include m.breakpoint(mobile){
                flex-direction:column;
                gap:2rem;
            }
            .footer__flex1{
            .footer__logo{
                max-width:18rem;
                max-height:5.395rem;
                @include m.breakpoint(mobile){
                    max-width:16rem;
                    max-height:4.796rem;
                }
            .footer__logo-img{
                height:5.395rem;
            }
        }
    }
         .footer__flex2{
             display:flex;
             width:55%;
             justify-content:space-between;
             @include m.breakpoint(tablet){
                 max-width:25.2rem;
                 flex-direction:column;
                 gap:1rem;
             }
             @include m.breakpoint(mobile){
                 max-width:100%;
                 flex-direction:column;
                 justify-content:center;          
                 width:100%;
                 gap:2rem;
             }
            .footer__icons{
                display:flex;
                gap:2rem;
                max-width:8.8rem;
                align-items:center;
                line-height:24.02px;
                color:$blue;
                @include m.breakpoint(tablet){
                    max-width:100%;
                    justify-content:flex-end;
                }
                @include m.breakpoint(mobile){
                    max-width:100%;
                    justify-content:center;
                }
            }
            .footer__links{
                display:flex;
                gap:2rem;
                max-width:25.2rem;
                @include m.breakpoint(tablet){
                    max-width:100%;
                    justify-content:right;
                }
                @include m.breakpoint(mobile){
                max-width:100%;
                justify-content:center;
                }
                color:$charcoal;
                .footer__link{
                    font-size:1.4rem;
                    line-height:17.5px;
                    font-weight:700;
                }
                .footer__link{
                    color:$black;
                }
            }
         }
         
    
        }
    }
    .footer__bottom{
        background-color:$brick;
        padding:1.5rem 0;
      .footer__bottom-text{
          font-size:1.2rem;
          line-height:15px;
          color:$white;
          text-align:center;
      }
 }
}